// MATRIX

// COLORS
$boja1: #a7b8c4;
$boja2: #85ebd9;
$boja3: #2f404d;
$boja4: #222;
$boja5: #ffffff83;



// FONT
$font-weight: 100;
$font-size: 30px;
$slova-razmak: 5px;


// DIMENSIONS

$sirina: 470px;
$visina: 100%;
$padding-lijevo: 50px;
$pozicija: fixed;


// BOX SHADOWS
$-web-kit-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
$box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);

// ANIMATIONS
$animacija1: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
$animacija2: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);

// FLEX class

@mixin flex {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;



}

// BUTTON

@mixin button {


    text-align: center;
    font-weight: 100;
    font-size: 25px;
    background: $boja1;
    width: 220px;
    height: 50%;
    padding-left: 20px;
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: $-web-kit-shadow;
    box-shadow: $box-shadow;
    right: -180px;
    transition: 0.5s;
    color: $boja4;
    display: inline-block;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 5px;
    top: 15%;



}

// LETTERS
@mixin letters {

    color: $boja4;
    font-weight: 100;
    font-size: 20px;
    background: transparent;
    width: 470px;
    height: 100%;
    padding-left: 50px;
    position: fixed;
    z-index: 100;
    top: 15%;
    right: 65%;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 5px;


}

@mixin matrix {

    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: $slova-razmak;
    background: transparent;
    width: $sirina;
    height: $visina;
    padding-left: $padding-lijevo;
    position: $pozicija;
    z-index: 100;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: $slova-razmak;





}